<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
    />
</head>
<body>
<div class="container mt-3">
    <h3 class="text-center">Thêm mới sản phẩm</h3>
    <form action="/add" method="post">
<!--        <label for="id">id</label>-->
<!--        <input type="text" name="id" class="form-control">-->
        <label for="name">Tên</label>
        <input type="text" name="name" class="form-control">
        <label for="price">Giá</label>
        <input type="text" name="price" class="form-control">
        <label for="cost">Số lượng</label>
        <input type="text" name="cost" class="form-control">
        <label for="address">Sản xuất</label>
        <input type="text" name="address" class="form-control">
        <input type="submit" value="Thêm vào" class="btn btn-primary mt-2"> <br>
        <a href="/">Quay lại?</a>
    </form>
</div>
</body>
</html>
